set showmode
set clipboard+=unnamed
" set hlsearch
set incsearch
set smartcase
" set relativenumber
" set number
set history=10000

" https://youtrack.jetbrains.com/issue/VIM-959
set ideamarks
set idearefactormode=keep

" https://github.com/JetBrains/ideavim/wiki/%60ideajoin%60-examples
set ideajoin

" https://youtrack.jetbrains.com/issue/VIM-1521
set commentary

" https://github.com/JetBrains/ideavim/wiki/Select-mode
" set selectmode-=template

"  Mouseless Driven Development by Hadi Hariri https://www.youtube.com/watch?v=UH6YVv9js3s 
" https://github.com/JetBrains/ideavim
" https://github.com/Valloric/dotfiles/blob/master/intellij/ideavimrc
" https://resources.jetbrains.com/storage/products/intellij-idea/docs/IntelliJIDEA_ReferenceCard.pdf
set surround
set easymotion
let mapleader = " "

" Yank from cursor to end of line, to be consistent with C and D.
nnoremap Y y$
" Move to the start and end of line
nnoremap H ^
nnoremap L $

" in vim i use Tab to switch buffers
nnoremap <Tab> gt
nnoremap <S-Tab> gT

" misc actions
nnoremap <Leader>z :action HideAllWindows<CR>
nnoremap <Leader><Leader>z :action ToggleDistractionFreeMode<CR>
nnoremap <Leader>x :q<CR>

" editor commands
nnoremap <Leader>v :action IntroduceVariable<CR>
nnoremap <Leader>n :action Inline<CR>
" nnoremap <Leader>m :action IntroduceVariable<CR>

" Alt + Shift + Insert in idea. 
map <Leader><Leader>v :action EditorToggleColumnMode<CR>

" Alt + Shift + Insert in idea. 
nnoremap <Leader>\| :action SplitVertically<CR>
nnoremap <Leader>_ :action SplitHorizontally<CR>

" Alt + Insert in idea.
map <Leader>g :action Generate<CR>

nnoremap ]e :action GotoNextError<CR>
nnoremap [e :action GotoPreviousError<CR>

" bookmarks (a bit similar to vim marks)
nnoremap <Leader>m :action ToggleBookmarkWithMnemonic<CR>
nnoremap <Leader>' :action ShowBookmarks<CR>
nnoremap <Leader>` :action ShowBookmarks<CR>
nnoremap ]b :action GotoNextBookmark<CR>
nnoremap [b :action GotoPreviousBookmark<CR>

"search with builtin search
nnoremap / :action Find<cr>

" unimpaired mappings
nnoremap [<Space> O<esc>j
nnoremap ]<Space> o<esc>k
nnoremap [c :action JumpToNextChange<cr>
nnoremap ]c :action JumpToLastChange<cr>

" easymotion commands
let g:EasyMotion_smartcase = 1
map <Leader>f <Plug>(easymotion-bd-f)
map <Leader>l <Plug>(easymotion-fl)
map <Leader>j <Plug>(easymotion-f)
map <Leader>k <Plug>(easymotion-F)
map <Leader>h <Plug>(easymotion-Fl)
map <Leader>J <Plug>(easymotion-j)
map <Leader>K <Plug>(easymotion-k)
